a {
  color: #333;
  text-decoration: none;
}

a:hover {
    color: #333;
    text-decoration: none;
}
  
a:active {
    color: #333;
    text-decoration: none;
}
  
a.no-color-change {
    color: #333;
    text-decoration: none;
}
a:link {
    color: #333;
    text-decoration: none;
}

a:visited {
  color: #333;
  text-decoration: none;
}