.top-logo {
    border-bottom: solid 1px #BCBCBC;
}

.card-text {
    color: #555;
}

i.bi {
    font-size: large; 
}

.maker-card {
    height: width/2;
    border-bottom: solid 1px #AAA;
    background-color: #fff;
}

.maker-card:hover {
    background-color: #f5f5f5;
}

.maker-card-image {
    border-right: solid 1px #BCBCBC;
}

.card-title {
    font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
    font-weight: bold; 
    font-size: 15px;
    line-height: 100%;
}