.top-logo {
    border-bottom: solid 1px #BCBCBC;
}

.card-text {
    color: #555;
}

i.bi {
    font-size: large; 
}

.maker-card {
    height: 250px;
    border-bottom: solid 1px #AAA;
    background-color: #fff;
}

.maker-card:hover {
    background-color: #f5f5f5;
}
.maker-card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-right: solid 1px #BCBCBC;
}

img.card-img-top {
    max-height: 100px;
    width: 100%;
}

.card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
    font-weight: bold; 
    font-size: 15px;
    line-height: 100%;
    height: 40px;
}