.top-logo {
    border-bottom: solid 1px #BCBCBC;
}

.card-text {
    color: #555;
}

i.bi {
    font-size: large; 
}

.maker-card {
    height: 25vh;
    border-bottom: solid 1px #BCBCBC;
    background-color: #f5f5f5;
}

.maker-card-image {
    border-right: solid 1px #BCBCBC;
}
