.top-message {
    border-top: solid 1px #BCBCBC;
    border-bottom: solid 1px #BCBCBC;
}
input.searchbox {
    width: 100%;
    padding-left: 5%;
    line-height: 2.0;
    border-radius:25px;
    outline:0;
}

p.card-text {
    font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
    font-size: 14px;
    color: #000;
    font-weight: 300;
    line-height: 0.5;
}

i.rateicon {
    font-size: large; 
}

.maker-card {
    height: 200px;
    background-color: #fff;
    transition: 0.5s;
}

.maker-card:hover {
    background-color: #f5f5f5;
}
.maker-card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

img.card-img-top {
    height: auto;
    width: 100px;
}

.card-body {
    padding-top: 10px;
    padding-bottom: 0;
}

.card-title {
    border-left: solid 1px #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
    font-weight: bold; 
    font-size: 15px;
    line-height: 100%;
    height: 40px;
}
/* iPad用 */
@media screen and (max-width:840px) { 
    .maker-card {
        height: 200px;
        background-color: #f5f5f5;
    }
    p.card-text {
        font-size: 13px;
    }
    
    .card-body {
        padding-top: 0;
        padding-bottom: 0;
    }
    
    i.rateicon {
        font-size: medium; 
    }

    .maker-card-image {
        height: 90px;
    }

    img.card-img-top {
        height: auto;
        width: 100px;
    }
    
    .card-title {
        font-size: 13px;
    }
}
/* スマホ用 */
@media screen and (max-width:480px) { 
    .maker-card {
        height: 200px;
        background-color: #f5f5f5;
    }
    p.card-text {
        font-size: 12px;
    }
    
    .card-body {
        padding-top: 0;
        padding-bottom: 0;
    }
    
    i.rateicon {
        font-size: medium; 
    }

    .maker-card-image {
        height: 90px;
    }

    img.card-img-top {
        height: auto;
        width: 100px;
    }
    
    .card-title {
        font-size: 13px;
    }
}

