{% load static %}

<!doctype html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- VUE JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!--  Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- reset CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">

    <!-- base CSS -->
    <link rel='stylesheet' type='text/css' href="{% static 'base.css' %}">
    
    {% block customcss %}
    {% endblock customcss %}

    <title>HOUSE SEARCH</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light nav-cust" aria-label="Fourth navbar example">
      <div class="container-fluid">
          <a class="navbar-brand headline mx-auto text-center ps-3" href="{% url 'index' %}">HOUSE SEARCH</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExample04">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item active">
          </ul>
          {% if user.is_authenticated %}
          <ul class="navbar-nav mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">ログアウト</a>
            </li>
          </ul>
          {% else %}
          <ul class="navbar-nav mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">ログイン</a>
            </li>
          </ul>
          {% endif %}
          <form>
            <input class="form-control" type="text" placeholder="例）メーカー名など">
          </form>
        </div>
      </div>
    </nav>

    {% block content %}
    {% endblock content %}

    <footer class="container py-5 foot">
      <div class="row">
        <div class="col-6 col-md">
          <h5>特徴</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#">クールなスタッフ</a></li>
            <li><a class="link-secondary" href="#">その他の特徴</a></li>
            <li><a class="link-secondary" href="#">チームの特徴</a></li>
            <li><a class="link-secondary" href="#">開発者向け</a></li>
            <li><a class="link-secondary" href="#">そのほか</a></li>
            <li><a class="link-secondary" href="#">最後</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>リソース</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#">リソース</a></li>
            <li><a class="link-secondary" href="#">リソース名</a></li>
            <li><a class="link-secondary" href="#">その他のリソース</a></li>
            <li><a class="link-secondary" href="#">最後のリソース</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>リソース</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#">ビジネス</a></li>
            <li><a class="link-secondary" href="#">教育</a></li>
            <li><a class="link-secondary" href="#">政治</a></li>
            <li><a class="link-secondary" href="#">ゲーム</a></li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>この製品について</h5>
          <ul class="list-unstyled text-small">
            <li><a class="link-secondary" href="#">チーム</a></li>
            <li><a class="link-secondary" href="#">場所</a></li>
            <li><a class="link-secondary" href="#">プライバシー</a></li>
            <li><a class="link-secondary" href="#">利用規約</a></li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-md">
        <small class="d-block mb-3 text-muted text-center my-3">&copy; House Search All rights reserved.</small>
      </div>
    </footer>
  </body>
</html>