{% extends 'base.html' %}

{% block customcss %}
{% endblock customcss %}

{% block content %}
{% for item in object_list %}
<div class="card my-3 mx-auto" style="max-width: 720px;">
  <div class="row g-0">
    <div class="col-md-4">
        <div clss="cardimage">
          <a href="{% url 'detail' item.pk %}"><img src='{{item.images.url}}' alt={{item.name}} title={{item.name}} class="card-img-top"></a>
        </div>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><a href="{% url 'detail' item.pk %}">{{item.name}}</a></h5>
        <p class="card-text">{{item.description}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
      </ul>
    </div>
  </div>
</div>
{% endfor %}
{% endblock content %}
