{% extends 'base.html' %}

{% block customcss %}
{% endblock customcss %}

{% block content %}
<div class="py-3 col-9 mx-auto">
    <form class="needs-validation" method="POST" action=''>{% csrf_token %}
        <h3 class="mb-5">口コミ投稿</h3>
        <div class="my-3">
            <p class="form-label">現在の状態を教えてください</p>
            <select name="status" required>
                <option value="">選択してください</option>
                <option value="見積もり">見積もり</option>
                <option value="契約">契約</option>
                <option value="建てた">建てた</option>
            </select>
        </div>
        <div class="my-3">
            <p class="form-label">費用はいかがでしたか？</p>
            <select name="costrate" required>
                <option value="">選択してください</option>
                <option value="5">5 大変満足</option>
                <option value="4">4 満足</option>
                <option value="3">3 普通</option>
                <option value="2">2 不満</option>
                <option value="1">1 大変不満</option>
            </select>
            <p class="form-label">口コミ内容を入力してください</p>
            <textarea type="text" class="form-control" name='costcomment' required autofocus>{{post.costcomment}}</textarea>
        </div>
        <div class="my-3">
            <p class="form-label">デザインはいかがでしたか？</p>
            <select name="designrate" required>
                <option value="">選択してください</option>
                <option value="5">5 大変満足</option>
                <option value="4">4 満足</option>
                <option value="3">3 普通</option>
                <option value="2">2 不満</option>
                <option value="1">1 大変不満</option>
            </select>
            <p class="form-label">口コミ内容を入力してください</p>
            <textarea type="text" class="form-control" name='designcomment' required autofocus>{{post.designcomment}}</textarea>
        </div>
        <div class="my-3">
            <p class="form-label">間取りはいかがでしたか？</p>
            <select name="layoutrate" required>
                <option value="">選択してください</option>
                <option value="5">5 大変満足</option>
                <option value="4">4 満足</option>
                <option value="3">3 普通</option>
                <option value="2">2 不満</option>
                <option value="1">1 大変不満</option>
            </select>
            <p class="form-label">口コミ内容を入力してください</p>
            <textarea type="text" class="form-control" name='layoutcomment' required autofocus>{{post.layoutcomment}}</textarea>
        </div>
        <div class="my-3">
            <p class="form-label">住居の性能はいかがでしたか？</p>
            <select name="specrate" required>
                <option value="">選択してください</option>
                <option value="5">5 大変満足</option>
                <option value="4">4 満足</option>
                <option value="3">3 普通</option>
                <option value="2">2 不満</option>
                <option value="1">1 大変不満</option>
            </select>
            <p class="form-label">口コミ内容を入力してください</p>
            <textarea type="text" class="form-control" name='speccomment' required autofocus>{{post.speccomment}}</textarea>
        </div>
        <div class="my-3">
            <p class="form-label">付帯設備はいかがでしたか？</p>
            <select name="attachrate" required>
                <option value="">選択してください</option>
                <option value="5">5 大変満足</option>
                <option value="4">4 満足</option>
                <option value="3">3 普通</option>
                <option value="2">2 不満</option>
                <option value="1">1 大変不満</option>
            </select>
            <p class="form-label">口コミ内容を入力してください</p>
            <textarea type="text" class="form-control" name='attachcomment' required autofocus>{{post.attachcomment}}</textarea>
        </div>
        <div class="my-3">
            <p class="form-label">保証はいかがでしたか？</p>
            <select name="guaranteerate" required>
                <option value="">選択してください</option>
                <option value="5">5 大変満足</option>
                <option value="4">4 満足</option>
                <option value="3">3 普通</option>
                <option value="2">2 不満</option>
                <option value="1">1 大変不満</option>
            </select>
            <p class="form-label">口コミ内容を入力してください</p>
            <textarea type="text" class="form-control" name='guaranteecomment' required autofocus>{{post.guaranteecomment}}</textarea>
        </div>
        <div class="my-3">
            <p class="form-label">担当営業はいかがでしたか？</p>
            <select name="salesrate" required>
                <option value="">選択してください</option>
                <option value="5">5 大変満足</option>
                <option value="4">4 満足</option>
                <option value="3">3 普通</option>
                <option value="2">2 不満</option>
                <option value="1">1 大変不満</option>
            </select>
            <p class="form-label">口コミ内容を入力してください</p>
            <textarea type="text" class="form-control" name='salescomment' required autofocus>{{post.salescomment}}</textarea>
        </div>
        <hr class="my-4">
        {% if isPosted %}
        <button class="w-100 btn btn-lg btn-primary" type="submit">編集する</button>
        {% else %}
        <button class="w-100 btn btn-lg btn-primary" type="submit">投稿する</button>
        {% endif %}
    </form>
</div>
{% endblock content %}