{% extends 'base.html' %}

{% block customcss %}
{% endblock customcss %}

{% block content %}
<div class="py-3 text-center col-9 mx-auto">
    <form class="needs-validation" method="POST" action=''>{% csrf_token %}
        <h3 class="mb-5">口コミ投稿</h3>
        <p class="form-label">全体的にいかがでしたか？</p>
        <select name="rate" required>
            <option value="">選択してください</option>
            <option value="5">5 大変満足</option>
            <option value="4">4 満足</option>
            <option value="3">3 普通</option>
            <option value="2">2 不満</option>
            <option value="1">1 大変不満</option>
        </select>
        <p class="form-label">口コミ内容を入力してください</p>
        <textarea type="text" class="form-control" name='comment' required autofocus>{{post}}</textarea>
        <hr class="my-4">
        {% if isPosted %}
        <button class="w-100 btn btn-lg btn-primary" type="submit">編集する</button>
        {% else %}
        <button class="w-100 btn btn-lg btn-primary" type="submit">投稿する</button>
        {% endif %}
    </form>
</div>
{% endblock content %}